@font-face {
	font-family: logoFont;
	src: url('/src/app/assets/font/logo-font.ttf');
	font-weight: 700;
}

.app {
	font-family: Roboto;
	background: url('/src/app/assets/img/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	font-size: 1.1em;
	color: white;

	.content {
		background: rgba(0, 0, 0, 0.5);
		color: #abd9ff;
		padding: 25px;
	}
}
